<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--데이터를 받아와서 처리하기 위해 thymeleaf 이용-->
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트 페이지</title>
</head>
<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>
<body>
<div class="layout">
    <table>
        <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${list}"> <!-- list안에 Board의 리스트를 담은 상태로 이를 board에 하나씩 담음-->
                <td th:text="${board.id}">1</td> <!-- Board안에 있는 id를 글자로(text)로 넣음-->
                <td>
                    <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}">제목</a>
                </td>
                <!-- localhost:8090/board/view?id=board.id(1~121) -->
            </tr>
        </tbody>
    </table>
    <!-- th:block : 태그로 굳이 감싸지 않아도 되는 thymeleaf문법을 사용할 때 사용 -->
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1})}" th:text="${page}"></a>
        <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
    </th:block>

</div>
</body>
</html>